<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing JPetStore">
    <test name="Regression">
         <classes>
             <class name="tests.EnterTheStoreTest"/>
             <class name="tests.PetStoreMenuTest"/>
             <class name="tests.RegistrationTest"/>
             <class name="tests.SignInTest"/>
             <class name="tests.CartTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->